<!-- Шаблон для установку подсистем
	Контекст - размеры матрицы - sizes
-->

{%extends "base.html" %}
{% block scripts %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            $( "#_subsystem_table" ).selectable();
        });
    </script>
{% endblock %}

{% load tags %}

{%block content %}
		<form action="set_subsystem" method="post">
		<table id="_subsystem_table" border="1" width="100%" cellpadding="5">
			{%for row in sizes.number_rows|get_range %}
                <tr>
                {% for column in sizes.number_column|get_range %}
                    <th class="ui-widget-content" >

                            {{ row }} : {{ column }}

                    </th>
                {%endfor%}
                </tr>
            {%endfor%}
		</table>

		<input type="submit" value="отправить">		
		</form>
{%endblock %}

